::-webkit-scrollbar {
  /* transform: translateY(-10px);
  width: 1px; */
}

/* ::-webkit-scrollbar-track {

} */

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App{
  background-color: #151E25;
  color: #FFFFFF;
  width: auto;
  height: auto;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.wrapper{
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main{
  width: 100vw;
  height: 100vw;
  text-align: center;
   overflow-x: hidden;
}

.bg{
  border: 1px solid red;
  
}


@media screen and  (max-width: 800px) {
      
    .App{
      transform: rotate(360deg) translateX(0vh);
      height: 100vh !important;
      width: 100vw !important; 
      /* overflow-y: unset;
      overflow-x: scroll;*/
      transform-origin: top bottom; 
    }

    .wrapper{
      flex-direction: column;
      transform: rotate(360deg) translateY(0vh);
      height: auto !important;
      width: 100vw !important;
      /* overflow-y: unset;
      overflow-x: scroll; */
      transform-origin: none !important;
    }
}


.ball {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid black;
  border-radius: 50%;
  pointer-events: none;
}
